$c-black: #000;
$c-dark-blue: #0c3763;
$c-dark-blue-2: #022451;
$c-dark-blue-3: #0c223f;
$c-dark-green: #122e30;
$c-dark-green-2: #006355;
$c-dark-grey: #646464;
$c-green: #007c6a;
$c-light-blue: #00e9ff;
$c-light-blue-2: #0f9cb6;
$c-light-grey: #cbc9c9;
$c-sea-blue: #007363;
$c-sea-blue-2: #05555d;
$c-sea-blue-3: #00718c;
$c-grey: #9e9e9e;
$c-grey-blue: #006880;
$c-white: #fff;
$c-white-blue: #b7effa
