.input {
  $radius: 30px;
  position: relative;

  &--filter-name {
    margin-right: $l-gutter;
  }

  &--filter-active {
    align-items: center;
    display: flex;
    font-size: $fs-xxsmall;
    height: 33px;
    margin-right: $l-gutter;
  }

  &__field {
    border: 1px solid $c-black;
    border-radius: $radius;

    ::placeholder {
      padding-left: $l-gutter * 1.5;
    }

    &--search {
      border-right: none;
      width: 180px;
    }

    &--filter-name {
      min-width: 224px;
    }
  }

  &__icon {
    align-items: center;
    background-color: $c-light-grey;
    border: 1px solid $c-black;
    border-bottom-right-radius: $radius;
    border-left: none;
    border-top-right-radius: $radius;
    display: flex;
    padding: 0 10px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;

    svg {
      path {
        fill: $c-dark-grey;
      }
    }
  }

  &__label {
    white-space: nowrap;
  }
}
