.select {
  border: 1px solid $c-black;
  position: relative;

  &--filter-city {
    background: $c-white;
    border-radius: 30px;
    display: flex;
    height: 33px;
    margin-right: $l-gutter;
    min-width: 180px;
    overflow: hidden;
  }

  &__field {
    cursor: pointer;

    &--filter-city {
      background: transparent;
      width: 100%;
    }
  }

  &__icon {
    position: absolute;

    &--filter-city {
      background-color: $c-white;
      height: 32px;
      position: absolute;
      right: 4px;
      top: 9px;
      width: 15px;

      svg {
        path {
          fill: $c-dark-grey;
        }
      }
    }
  }
}
