body {
  color: $c-white;
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  a {
    color: $c-white;
  }
}

input {
  border: 0;
  font-size: $fs-xxsmall;
  padding: $l-space;

  &:focus {
    outline: none;
  }
}

select {
  border: 0;
  font-size: $fs-xxsmall;

  &:focus {
    outline: none;
  }
}

button {
  padding: 0;
  border: 0;

  &:focus {
    outline: none;
  }
}
