.contacts {
  background-image: linear-gradient(to right, $c-sea-blue, $c-dark-blue);
  flex: 1;

  &__filter {
    display: flex;
    height: 6vh;
    width: 100%;

    .btn {
      font-size: $fs-xxsmall;
      font-weight: 600;
      height: 35px;
      margin: 0 $l-gutter / 2;
      padding: $l-leading / 2 $l-gutter * 2;
    }
  }

  &__main {
    align-items: stretch;
    display: flex;

    .sheet {
      background-color: $c-white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin: $l-leading * 1.5 $l-gutter 0 0;

      &__image-wrapper {
        height: 180px;
        margin: 0 auto $l-leading;
        width: 180px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      &__row {
        display: flex;
        font-size: $fs-xxsmall;
        font-weight: 600;
        margin-bottom: $l-leading;

        label {
          color: $c-grey;
          margin-right: $l-gutter / 2;
          text-align: right;
          width: 60px;
        }

        .value {
          flex: 1;
          width: 140px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:not(a) {
            color: $c-dark-grey;
          }
        }
      }
    }
  }
}
