.contacts {
  background-image: linear-gradient(to right, $c-sea-blue, $c-dark-blue);
  flex: 1;

  &__filter {
    display: flex;
    height: 6vh;
    width: 100%;

    .btn-wrapper {
      margin: 0 0 0 auto;
      position: relative;

      .btn {
        margin: 0;
        padding: $l-leading / 2 $l-gutter $l-leading / 2 $l-gutter * 2;
      }

      svg {
        background-color: $c-dark-green-2;
        border-radius: 50%;
        left: 5px;
        padding: $l-space / 2;
        position: absolute;
        top: 6px;
      }
    }

    .btn {
      font-size: $fs-xxsmall;
      font-weight: 600;
      height: 35px;
      margin: 0 $l-gutter / 2;
      padding: $l-leading / 2 $l-gutter * 2;
    }
  }

  &__main {
    display: flex;

    .sheet {
      background-color: $c-white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin: $l-leading * 1.5 $l-gutter 0 0;

      &__image-wrapper {
        $size: 180px;
        height: $size;
        margin: 0 auto $l-leading;
        width: $size;

        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }
      }

      &__row {
        display: flex;
        font-size: $fs-xxsmall;
        font-weight: 600;
        margin-bottom: $l-leading;

        label {
          color: $c-grey;
          margin-right: $l-gutter / 2;
          text-align: right;
          width: 60px;
        }

        .value {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 140px;

          &:not(a) {
            color: $c-dark-grey;
          }
        }
      }
    }
  }
}
